/*Body*/

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*HEADER*/

header {
    position: relative;
    background-image: url(images/mars-fhd.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 800px;
    z-index: 2;
    box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
}

nav {
    height: 60px;
    width: 100%;
    z-index: 3;
    background-color: rgb(38, 38, 38);
    box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.link_buttons {
    position: absolute;
    width: 200px;
    height: 60px;
    bottom: 100px;
    z-index: 2;
    background-color: rgb(38, 38, 38);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    color: rgb(72, 72, 72);
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

.link_buttons:hover {
    box-shadow: 0px 0px 20px 10px rgba(72, 72, 72, 1);
    cursor: pointer;
    color: rgb(189, 143, 91);
}

.separator {
    background-color: rgb(72, 72, 72);
    width: 3px;
    height: 70%;
}

#link_buttons_right {
    left: 60vw;
}

#link_buttons_left {
    right: 60vw;
}

#logo {
    position: absolute;
    width: 300px;
    height: 350px;
    background-image: url(images/logo_darker_transparrent.png);
    background-position: center;
    background-size: cover;
    left: 50%;
    margin-left: -150px;
    top: 8%;
}

#logo:hover {
    filter: brightness(125%);
}


/*NAV*/

#nav_container {
    display: flex;
    justify-content: space-between;
}

#nav_logo {
    background-image: url(./images/gold_logo.png);
    filter: grayscale(100%) saturate(0%) brightness(48.5%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 70px;
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

#nav_logo:hover {
    background-color: rgba(78, 78, 78, 0.5);
    cursor: pointer;
    filter: none;
}

#nav_buttons {
    width: 680px;
    height: 100%;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: rgba(72, 72, 72, 1);
    font-size: 1.5em;
    letter-spacing: 3px;
    font-family: 'Exo 2', sans-serif;
}

.buttons:hover {
    color: rgb(189, 143, 91);
    background-color: rgba(78, 78, 78, 0.5);
}


/*MAIN*/

main {
    height: 1700px;
    background-color: rgb(72, 72, 72);
    z-index: 1;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 100px;
    gap: 100px;
    position: relative;
}

#main_grid {
    grid-column: 1 / 8;
    background-color: rgb(38, 38, 38);
    border-radius: 20px;
    box-shadow: 0px 0px 60px 15px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#right {
    grid-column: 8 / 11;
    background-color: rgb(38, 38, 38);
    border-radius: 20px;
    box-shadow: 0px 0px 60px 15px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.heading {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    color: rgb(189, 143, 91);
}

.header {
    margin-top: 20px;
}

.seperate {
    margin-top: 19px;
    margin-bottom: 29px;
    background-color: rgb(72, 72, 72);
    height: 7px;
    width: 80%;
}

.actual {
    height: 1545px;
    width: 100%;
}

#divide {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#newdivide {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
}

.item {
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.left {
    display: grid;
    grid-template-rows: 1.1fr 2fr 1fr;
    gap: 10px;
}

.left_head {
    padding-bottom: 10px;
}

.left_header {
    font-family: 'Exo 2', sans-serif;
    color: rgb(189, 143, 91);
    border-bottom: dashed 5px rgb(72, 72, 72);
    width: 300px;
    height: 100%;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.left_text {
    padding: 10px;
    color: rgb(189, 143, 91);
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    word-spacing: 2px;
    line-height: 25px;
    ;
}

.left_link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left_item {
    width: 200px;
    height: 70%;
    margin-right: 20px;
    border-radius: 15px;
    border: dashed rgb(72, 72, 72) 5px;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: rgb(72, 72, 72);
}

.left_item:hover {
    border: dashed rgb(189, 143, 91) 5px;
    color: rgb(189, 143, 91);
}

.right {
    background-color: gold;
    border-radius: 15px;
    background-image: url(https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/pia22486-main.jpg);
    background-position: center;
    background-size: cover;
}

.item_right {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.his_text {
    padding-bottom: 10px;
    border-bottom: dashed 5px rgb(72, 72, 72);
    width: 250px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    color: rgb(189, 143, 91);
}

.item_right:hover {
    background-color: rgba(72, 72, 72, 0.5);
}

.item:hover {
    background-color: rgba(72, 72, 72, 0.5);
}

#left_top {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 150px;
    height: 150px;
    border-top: 15px dashed rgb(38, 38, 38);
    border-left: 15px dashed rgb(38, 38, 38);
}

#right_bottom {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 150px;
    height: 150px;
    border-right: 15px dashed rgb(38, 38, 38);
    border-bottom: 15px dashed rgb(38, 38, 38);
}


/*FOOTER*/

footer {
    height: 300px;
    background-color: rgb(38, 38, 38);
    position: relative;
}

#left_foot {
    position: absolute;
    left: 200px;
    top: 50px;
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    color: rgb(189, 143, 91);
}

#foothead {
    border-bottom: 5px dashed rgb(72, 72, 72);
    padding-bottom: 10px;
    text-align: center;
    width: 250px;
}

.linkcont {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.deco {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(72, 72, 72);
    width: 250px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.deco:hover {
    background-color: rgb(189, 143, 91);
}

#right_foot {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    color: rgb(72, 72, 72);
}

@media screen and (min-width: 2000px) {
    header {
        background-image: url(images/mars-4k.jpg);
    }
    #nav_logo {
        background-image: url(./images/gold_logo_fhd.png);
    }
    #logo {
        background-image: url(images/logo_darker_transparrent_fhd.png);
    }
}